<!-- Is there a way for us to reuse our form partial here? -->

<div class="container">
  <h1>Search Contacts</h1>

  <form method="get" action="/results">
    <label for="contact[first_name]">First Name</label>
    <input type="text" name="contact[first_name]" value=""><br/>
    <label for="contact[last_name]">Last Name</label>
    <input type="text" name="contact[last_name]" value=""><br/>
    <label for="contact[email]">Email</label>
    <input type="text" name="contact[email]" value=""><br/>
    <button type="submit">Search</button>
  </form>

</div>
