<div class="container">
  <h1>Show Contact</h1>

  <%#= h @contact.inspect # Uncomment beginning of line to see contact object %>

  <!-- Implement displaying all contacts -->

  <p>First Name: <%= @contact.first_name %></p>
  <p>Last Name: <%= @contact.last_name %></p>
  <p>Email: <%= @contact.email %></p>
  <p>Phone: <%= @contact.phone_number %></p>

  <p><a href='/contacts'>View all contacts</a>


</div>
